@import url('https://fonts.googleapis.com/css?family=Lato:300|Quicksand:300')
// Bootstrap
@import "~bootstrap/scss/bootstrap"

body
  background: url("https://shigeki.jp/assets/img/slideshow/01.jpg")
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  font-family: 'Lato', sans-serif

footer
  position: absolute
  bottom: 0
