@import url('https://fonts.googleapis.com/css?family=Lato:300')
@import "variables"
@import "~@mdi/font/scss/materialdesignicons"
@import "~bootstrap/scss/bootstrap"

body
  background-image: url("#{$image-path}/ohorikouen.jpg")
  background-size: cover
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover

footer
  position: absolute
  bottom: 0

.bg-dark-light
  background-color: rgba(0, 0, 0, 0.5)!important